/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

.modal {
	position: fixed;
	height: 100vh;
	width: 100vw;
	inset: 0;
	background: rgba(0, 0, 0, 0.30);
	display: none;
	place-content: center;
}

.modal-wrapper {
	border-radius: 10px;
	background: #FFF;
	width: 630px;
	max-width: calc(100vw - 20px);
	height: 688px;
	overflow: auto;
	display: grid;
	place-items: center;
	position: relative;
}

.close-modal {
	position: absolute;
	top: 20px;
	right: 20px;
	border: none;
	background-color: white;
}

.close-modal i {
	cursor: pointer;
	font-size: 16px;
}

.title-modal {
	color: #000;
	text-align: center;
	font-family: Work Sans;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.modal-add {
	display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  position: relative;
  width: 630px;
  height: 670px;
}

.modal-add .left {
  position: absolute;
  top: 30px;
  left: 15px;
}
.modal-add .left .fa-arrow-left {
  font-size: 1.5rem;
  cursor: pointer;
}
.modal-add .cross {
  position: absolute;
  top: 30px;
  right: 15px;
}.modal-add .cross .fa-xmark {
  font-size: 1.5rem;
  cursor: pointer;
}
.modal-add h3 {
  margin-top: 60px;
  font-weight: bold;
  font-size: 1.5rem;
}
.modal-add form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 80%;
  width: 65%;
  gap: 20px;
}
.modal-add form .box-picture {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 169px;
  background-color: #e8f1f6;
	gap: 15px;
	padding-top: 30px;
	padding-bottom: 0;
}
.modal-add form .box-picture img {
  display: none;
  max-width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
}
.modal-add form .box-picture .fa-image {
  font-size: 4rem;
	height: 60px;
  color: #b9c5cc;
}
.modal-add form .box-picture .add-photo {
  display: block;
  display: flex;
  align-items: center;
  background-color: #b9c5cc;
  border-radius: 15px;
  height: 30px;
  padding: 0 20px;
  color: #306685;
  cursor: pointer;
}
.modal-add form .box-picture input {
  opacity: 0;
}

.modal-add form #title {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  height: 8%;
	border: none;
}
.modal-add form #category {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  height: 8%;
	border: none;
}
.modal-add hr{
	width: 65%;
	position: absolute;
	bottom: 100px;
}

.modal-add form .container-add-work {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
	margin-top: 30px;
}

.modal-add form .container-add-work .btn-check-form {
  background-color: #1d6154;
  padding: 9px 50px;
  border-radius: 25px;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  font-family: Syne;
  cursor: pointer;
}
.modal-add form .btn-add-work {
  background-color: #a7a7a7;
  padding: 9px 50px;
  border-radius: 25px;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  font-family: Syne;
  cursor: pointer;
	border: none;
	width: 237px;
}
.modal-add form .btn-add-work:hover {
  background-color:#1d6154;
  border: 1px solid white ;
  color: white;
	transition: 0.2s;
}


#gallery-modal {
	margin-top: -30px;
	width: 70%;
	height: 60%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 40% 40% 40%;
	grid-row-gap: 30px;
	padding-bottom: 40px;
}

#gallery-modal figure {
	width: 100%;
	height: 100%;
	position: relative;
}

#gallery-modal figure img {
	width: 90%;
	height: 100%;
}

#gallery-modal figure span {
	display: block;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 5px;
	right: 15px;
	background-color: black;
	height: 18px;
	width: 18px;
	border-radius: 2px;
}

#gallery-modal figure span .fa-trash-can {
  color: white;
  font-size: 0.6rem;
  cursor: pointer;
}

hr {
	width: 70%;
}

.banner {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 59px;
	background-color: black;
	gap: 20px;
}

.banner i {
	color: white;
	font-size: 16px;
}

.banner p {
	color: white;
	font-size: 16px;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
	background-color: #FFFEF8;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav li:nth-child(4) {
	padding-left: 0;
}

nav li a {
	text-decoration: none;
	color: #000;
}

nav li a:hover {
	color: #B1663C;
	cursor: pointer;
}

li:hover {
	color: #B1663C;
	cursor: pointer;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio {
	margin-top: 120px;
}

.projects-connect {
	display: flex;
	justify-content: center;
	margin-bottom: 36px;
}

#portfolio .btn-modif {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 8px 0 0 35px;

}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

#portfolio a {
	cursor: pointer;
	text-decoration: none;
	color: #000;
	text-align: center;
	font-family: Work Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.all-buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 20px 0px 50px 0px;
}

.btn-filter,
.add-picture {
	color: #1D6154;
	background: #FFFEF8;
	border-radius: 60px;
	border: 1px solid #1D6154;
	padding: 0.8rem 1.6rem;
	font-family: Syne;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	display: grid;
	place-items: center;
}

.add-picture {
	width: 237px;
	height: 36px;
	place-content: center;
}

.btn-filter:hover,
.add-picture:hover {
	cursor: pointer;
	color: #FFFEF8;
	background: #1D6154;
	transition: 0.2s;
}

.btn-filter.selected {
	color: #FFFEF8;
	background: #1D6154;
	pointer-events: none;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact form a {
	text-align: center;
	color: #3D3D3D;
	font-family: Work Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-decoration-line: underline;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
}

input[type="submit"]:hover {
	transition: 0.2s;
	background-color: #0E2F28;
}

.link-lostpassword {
	display: flex;
	justify-content: center;
	color: #3D3D3D;
	font-family: Work Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-decoration-line: underline;
}

footer {
	width: 100%;
}

.footer-login {
	position: fixed;
	bottom: 0;
	left: -90px;
	width: 100%;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}